@charset "utf-8";

html,
body{
	height: 100vh;
}

body {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6edd9;

}

.flexbox {
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
}

input {
    margin: 0 10px;
    padding: 10px;
    width: 130px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #ddd;
}

.logo {
    display: flex;
}

h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

h1 + div > img {
    width: 30px;
} 

#menu {
    width: 40%; 
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
}

#menu .item {
    position: relative;
    float: left;
    width: 33%; 
    text-align: center;
}

#menu > .item img {
    width: 90%;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #fff;
}

#menu > .item div:last-child {
    cursor: pointer;
}

#order_list {
    position: relative;
    width: 32%;
    padding: 20px;
    border: 1px solid #333;
    text-align: right;
    border-radius: 20px;
}

#order_list div {
    position: absolute;
    bottom: 20px; left: 20px;
    font-weight: 600;
}

#order_list p {
    padding: 14px 10px;
    border-bottom: 1px solid #ddd;
}

#order_list div #total_price {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    color: #d44000;
    background: none;
}

#payment {
    position: relative;
    width: 24%;
}

#money {
    top: 0;
    width: 100%;
    margin-bottom: 20px;
}

#money > button {
    width: 46%;
    height: 52px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #b85b2d;
}

#money > button:nth-child(1),
#money > button:nth-child(3),
#money > button:nth-child(5) {
    margin-right: 12px;
}

#input_money {
    height: 40px;
    margin-bottom: 100px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    color: #b85b2d;
    background: none;
}

#payment .calc,
#payment .reload {
    width: 124px;
    height: 124px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
}

#payment .calc {

    margin-bottom: 20px;
    border: 0;
    font-size: 20px;
    color: #fff;
    background-color: #d44000;
}

#payment .reload {
    border-radius: 20px;
    color: #333;
    border: 1px solid #d44000;
    background: none;
}

#payment div:last-child {
    position: absolute;
    bottom: 0; right: 0;
}

#change {
    height: 40px;
    text-align: right;
}
