@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, 
ol {
    list-style: none;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}


img,
header,
section,
footer {
    display: block;
}






